.App {
  background-color: #424242;
  width: 100%;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;

  .message {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    padding: 100px 0;
    margin: auto;
    width: 700px;

    a {
      color: inherit;
      text-transform: uppercase;
      font-size: 40px;
    }
  }
}
