@import "../../../styles/font";
@import "../../../styles/corner";
@import "../../../styles/easing";

.sign-in-content {
  @include default-font();

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 80px 30px 20px 30px;

  .title {
    font-size: 40px;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
  }

  .intro {
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    line-height: 2;
    margin-bottom: 80px;
    padding: 0 20px;
    color: #343434;
  }
}
