@import '../../../styles/font';
@import '../../../styles/corner';
@import '../../../styles/color';
@import '../../../styles/easing';
@import '../../../styles/shadow';

.sign-in-button {
  color: inherit;
  text-decoration: none;

  .content {
    display: flex;
    font-weight: $font-weight-semi-bold;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    font-family: 'Source Code Pro', 'Helvetica Neue', sans-serif;
    width: 100%;

    .icon {
      fill: $color-white;
      height: 30px;
      margin-right: 20px;
      width: 30px;
    }
  }
}
