@import '../styles/font';
@import '../styles/dimension';
@import '../styles/color';
@import '../styles/corner';
@import '../styles/icon';

.home {
  .control {
    display: flex;

    &.create-short-link {
      .text-field-wrapper {
        flex: 1;
        margin-right: 20px;
      }
    }

    .create-short-link-btn {
      display: flex;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 480px) {
    .title {
      text-align: center;
    }

    .control {
      flex-direction: column;
      height: 160px;

      .text-field-wrapper {
        display: flex;
        margin: 4px;
      }

      .create-short-link-btn {
        flex: 1;
        margin: 4px;
      }
    }
  }

  .main {
    padding: 40px 0;
  }

  .short-link-usage-wrapper {
    margin-top: 40px;
  }

  .err {
    background-color: #424242;
    box-sizing: border-box;
    font-family: $font-family-primary;
    padding: 60px;
    width: 600px;

    .title {
      color: white;
      font-size: 24px;
      font-weight: $font-weight-medium;
      line-height: 24px;
      margin-bottom: 40px;
      text-align: center;
      text-transform: capitalize;
    }

    .description {
      color: white;
      font-size: 18px;
      font-weight: $font-weight-semi-bold;
      line-height: 1.5;
    }

    .close {
      color: white;
      height: 24px;
      opacity: 0.6;
      position: fixed;
      right: 10px;
      top: 10px;
      width: 24px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  .input-error {
    color: #b71c1c;
    font-size: 12px;
    font-weight: $font-weight-semi-bold;
    height: 20px;
    line-height: 20px;
    margin: 10px;
  }
}
