@import "../styles/font";

.page-404 {
  align-items: center;
  background-color: #e91e63;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;

  .code {
    color: white;
    font-size: 220px;
    font-weight: 200;
    letter-spacing: 20px;
    line-height: 220px;
  }

  .to-home {
    bottom: 40px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 80px;
  }

  .to-home a {
    border-bottom: 1px solid white;
    color: white;
    font-weight: 500;
    padding-bottom: 2px;
    text-decoration: none;
  }
}
