# Global Code Owners
#
# These owners will be the default owners for everything in
# the repo.
@byliuyang

# File Owners
#
# Order is important; the last matching pattern takes the most
# precedence.

# Backend
*.go    @alldroll @byliuyang

# Frontend
*.ts    @byliuyang
*.tsx   @byliuyang
*.js    @byliuyang
*.html  @byliuyang
*.scss  @byliuyang
*.png   @byliuyang