@import "../styles/color";
@import "../styles/corner";

.text-field {
  font-size  : 20px;
  box-sizing : border-box;
  width      : 100%;
  padding    : 8px 20px;
  @include round-corner;
  border     : 2px solid $color-primary;
  outline    : none;
}