@import '../../../styles/font';

.ext-promo {
  color: black;
  font-weight: $font-weight-medium;

  @include default-font();

  padding: 14px 20px;
  text-align: center;

  a {
    color: black;
    font-weight: $font-weight-semi-bold;
    padding: 3px 10px;
    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }
}
