@import "styles/font";
@import "styles/dimension";
@import "styles/color";
@import "styles/corner";

.app {
  .control {
    display : flex;

    &.create-short-link {
      .text-field-wrapper {
        flex         : 1;
        margin-right : 20px;
      }
    }
  }

  .main {
    padding : 40px 0;
  }

  .short-link-notice {
    font-size   : 18px;
    line-height : 1.5;
    margin-top  : 40px;

    a {
      font-weight : bolder;
      cursor      : pointer;
      color       : inherit;

      &:hover {
        text-decoration : underline;
      }
    }
  }
}