@import "styles/dimension";
@import "styles/font";
@import "styles/color";

$font-size : 18px;
$font-color : #616161;
$padding : 30px;

footer {
  @include default-font();

  display         : flex;
  justify-content : center;

  .center {
    font-size      : $font-size;
    font-weight    : $font-weight-semi-bold;
    line-height    : $font-size;
    display        : flex;
    flex-direction : column;
    align-content  : center;
    width          : $content-width;
    padding-top    : $padding;
    color          : $font-color;
    border-top     : 1px solid #EEE;
    text-align     : center;

    .row:not(:last-child) {
      margin-bottom : 10px;
    }

    .app-version {
      font-size : 14px;
    }

    .heart:hover {
      color  : $color-primary;
      cursor : pointer;
    }

    a {
      font-weight     : $font-weight-bold;
      text-decoration : none;
      color           : $font-color;

      &:hover {
        text-decoration : underline;
      }
    }
  }

  padding-bottom  : $padding;
}