@import "styles/font";
@import "styles/dimension";
@import "styles/color";
@import "styles/corner";

.control {
  display: flex;

  &.create-short-link {
    .text-field-wrapper {
      flex: 1;
      margin-right: 20px;
    }
  }
}