@import "styles/font";
@import "styles/dimension";

header {
  @include default-font();

  display: flex;
  justify-content: center;
  color: white;
  background-color: #c2185b;

  .center {
    display: flex;
    width: $content-width;
    padding: 10px 0;
  }

  #logo {
    font-size: 30px;
    font-weight: $font-weight-semi-bold;
    line-height: 30px;
    letter-spacing: 2px;
  }
}
