@import "styles/font";
@import "styles/dimension";

.section {
  @include default-font();

  display: flex;
  justify-content: center;

  .center {
    box-sizing: border-box;
    width: $content-width;
    padding: 20px;
    border-radius: 4px;
    background-color: #fafafa;
  }

  .title {
    font-size: 26px;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #333;
  }
}
