@import '../../styles/dimension';

.UserShortLinksSection {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;

  .page-control-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .long-link,
  .alias {
    word-break: break-all;
  }

  .cell-long {
    width: 70%;
  }
}
