@import '../../styles/dimension';

.UserShortLinksSection {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;

  .page-control-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .long-link {
    word-break: break-all;
  }

  .table-cell.long {
    width: 70%;
  }
  
  .table-cell.alias {
    width: 30%;
  }
}
