@import '../styles/color';
@import '../styles/corner';
@import '../styles/scrollbar';
@import '../styles/center';
@import '../styles/layouts';

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  position: fixed;
  width: 500px;
  height: 570px;
  @include align-center;
  @include round-corner;

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    padding: 20px;
    height: 32px;
    border-bottom: 1px solid $color-divider;
    font-weight: 600;

    i.clear {
      cursor: pointer;
    }
  }

  .changelog {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-modal-background;
    overflow: auto;

    ul {
      flex: 1;
      list-style: none;
      display: block;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      margin: 4px;
      @include scroll-bar;

      li {
        display: flex;
        flex-direction: column;
        padding: 10px;
        list-style: none;
        text-align: left;
        border: 1px solid $color-divider;
        margin: 10px;
        min-height: 120px;
        background: white;
        word-break: break-word;

        .title {
          font-weight: 900;
          margin-bottom: 6px;
        }

        .summary {
          flex: 1;
        }

        .released-date {
          color: $color-time;
        }
      }
    }
  }

  .view-all-updates {
    width: 100%;
    height: 50px;
    background-color: $color-modal-background;
    display: flex;

    button {
      flex: 1;
      background-color: $color-divider;
      color: $color-dark-gray;
      height: 30px;
      margin: 10px;
    }
  }
}

@include respond-to($phone) {
  .modal-body {
    width: 100vw;
    height: 100vh;
  }
}
