@import '../styles/color';
@import '../styles/easing';
@import '../styles/shadow';

$drawer-width: 240px;

.drawer {
  width: $drawer-width;
  margin-left: -$drawer-width;
  transition: margin-left 300ms $ease-in-out-quart;
  height: 100%;
  margin-top: 0;
  box-shadow: $shadow-drawer;

  &.open {
    margin-left: 0;
  }
}
