@import '../styles/color';
@import '../styles/font';

$table-border: 1px solid #e0e0e0;

.markdown-viewer {
  @include default-font;
  word-break: break-word;

  // Custom Markdown styling
  ul {
    list-style: disc;
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px 0;
    border: $table-border;

    th {
      background-color: $color-markdown-table-header-background;
      color: $color-white;
      font-weight: $font-weight-medium;
    }

    td {
      border-top: $table-border;
      border-bottom: $table-border;
    }

    th,
    td {
      padding: 8px 16px;
    }
  }
}
