@import '../styles/easing';
@import '../styles/color';

.modal {
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $ease-in-out-quart;
  z-index: 1000;

  &.shown {
    display: block;
  }

  &.showing {
    opacity: 1;
  }

  .card {
    background-color: $color-white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .mask {
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
  }
}
