@import '../styles/color';
@import '../styles/font';

.navigation {
  ul.menu {
    padding: 0;
    list-style: none;

    > li {
      font-weight: $font-weight-semi-bold;
      word-break: break-word;
      padding: 15px 20px;
      cursor: pointer;

      &.active {
        background-color: color-transparent-black(0.06);
      }

      &:hover:not(.active) {
        color: $color-primary;
      }
    }
  }
}
