@import '../styles/corner';
@import '../styles/font';
@import '../styles/layouts';

.page-control {
  display: flex;
  margin: 1rem 0;
  justify-content: center;

  button {
    display: block;
    padding: 0.25rem 0.25rem;
    margin: 0 0.25rem;
    font-size: 0.75rem;
    background: transparent;
    border: none;
    outline: none;
    font-weight: $font-weight-medium;

    @include default-font;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:disabled {
      cursor: auto;
    }

    &.active {
      border: 1px solid;
      @include round-corner;
    }
  }
}
