@import '../styles/font';
@import '../styles/layouts';
@import '../styles/corner';

.pagination {
  display: block;
  margin: 1rem 0;
  @include default-font;

  button {
    display: inline;
    padding: 0.25rem 0.25rem;
    margin: 0 0.25rem;
    font-size: 0.75em;
    background: transparent;
    border: none;
    outline: none;
    font-weight: $font-weight-medium;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:disabled {
      cursor: auto;
    }
  }

  button.active {
    border: 1px solid;
    @include round-corner;
  }

  @include respond-to($phone) {
    text-align: center;
  }
}
