@import '../styles/color';
@import '../styles/corner';
@import '../styles/font';
@import '../styles/layouts';

.toast:hover {
  opacity: 1;
  cursor: pointer;
}

.toast-message {
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

  @include default-font;
}

.toast {
  z-index: 10000;
  width: 80vw;
  max-width: 300px;
  color: #dedede;
  background-color: $color-dark-gray;
  position: fixed;
  opacity: 0.9;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);

  @include round-corner;
}
