@import '../styles/corner';
@import '../styles/color';
@import '../styles/font';

.toggle-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  .toggle-back {
    @include round-corner;

    display: inline-block;
    background-color: lightgray;
    width: 70px;
    height: 30px;
    cursor: pointer;
  }

  .toggle {
    @include round-corner;

    background-color: gray;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s, margin-left 0.5s;
  }

  .toggle.active {
    background-color: $color-primary;
    margin-left: 40px;
  }
}
