.Button {
  background-color: #366dd0;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 22px;
  height: 50px;
  outline: none;
  width: 120px;

  &:hover {
    background-color: #2057b8;
    cursor: pointer;
  }
}
