.Emotic.FeedbackModal {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", sans-serif;
  left: 50%;
  min-height: 54px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 560px;
  z-index: 100;

  .tabs {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .close-button {
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 26px;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
