.Launcher {
  align-items: center;
  background-color: #366dd0;
  border-radius: 6px;
  bottom: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 62px;
  justify-content: center;
  padding-right: 10px;
  position: fixed;
  right: -10px;
  transition: all 200ms ease-in-out;
  width: 75px;

  &:hover {
    cursor: pointer;
    right: 15px;
  }
}
