.Emotic.Promotion {
  background-color: #e0e0e0;
  border-radius: 0 6px;
  padding: 14px 0;
  text-align: center;

  a {
    border-bottom: 1px solid #757575;
    color: #757575;
    display: inline-block;
    font-size: 16px;

    padding-bottom: 4px;
    text-decoration: none;
  }
}
