$font-weight-extra-light : 200;
$font-weight-light       : 300;
$font-weight-regular     : 400;
$font-weight-medium      : 500;
$font-weight-semi-bold   : 600;
$font-weight-bold        : 700;
$font-weight-black       : 900;

$font-family-primary     : 'Source Code Pro';

@mixin default-font() {
  font-family: $font-family-primary, monospace;
}
