@import 'src/component/styles/color';
@import 'src/component/styles/layouts';

.create-change-section {
  .title {
    margin: 0 auto;
  }

  .create-change-form {
    display: flex;
    flex-direction: column;

    .change-summary {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: space-between;

      .markdown-viewer {
        padding: 0 10px;
        background-color: $color-create-change-markdown-background;
        overflow-y: auto;
      }

      .text-area,
      .markdown-viewer {
        width: 49%;
        box-sizing: border-box;
        height: 250px;
      }

      @include respond-to($phone) {
        .text-area,
        .markdown-viewer {
          width: 100%;
        }
      }
    }

    .button {
      background-color: $color-medium-green;
      padding: 15px 50px;
      width: fit-content;
      margin: 30px auto 0;
    }
  }
}
