.collect-email-tab {
  .text-field {
    flex: 1;
    padding: 20px;

    input {
      background-color: inherit;
      border: 0;
      font-size: 22px;
      height: 100%;
      outline: none;
      resize: none;
      width: 100%;
    }
  }

  .title {
    font-size: 25px;
    margin: 80px 60px;
    text-align: center;
  }

  .collect-email {
    background-color: #f4f4f4;

    input {
      text-align: center;
    }

    .options {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 30px;

      .skip {
        border-bottom: 1px solid #757575;
        color: #757575;
        display: inline-block;
        font-size: 16px;
        margin-right: 30px;

        padding-bottom: 4px;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
