.thank-you-tab {
  .title {
    font-size: 25px;
    margin: 80px 60px 20px 60px;
    text-align: center;
  }

  .description {
    color: #757575;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0 60px;
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: center;
    padding: 60px 0;
  }
}
