$color-primary: #e91e63;
$color-white: #fff;
$color-white-smoke: #f5f5f5;
$color-dark-gray: #343434;
$color-highlight: lightblue;
$color-light-gray-1: #dbdbdb;
$color-light-gray-2: #999999;

@function color-transparent-white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@function color-transparent-black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}
