$color-primary: #e91e63;
$color-white: #fff;
$color-modal-background: #f5f5f5;
$color-dark-gray: #343434;
$color-light-gray: #dedede;
$color-highlight: lightblue;
$color-scrollbar-track: #ccc;
$color-divider: #dbdbdb;
$color-time: #9e9e9e;
$color-text-field-border: #9e9e9e;

// Toast
$color-toast-background: $color-dark-gray;
$color-toast-text: $color-light-gray;

// Page Indicator
$color-page-indicator-background: inherit;
$color-page-indicator-text: $color-dark-gray;
$color-page-indicator-hover-background: $color-light-gray;
$color-page-indicator-hover-text: $color-dark-gray;

$color-page-indicator-active-background: #303030;
$color-page-indicator-active-text: white;
$color-page-indicator-active-hover-background: #464646;
$color-page-indicator-active-hover-text: white;

$color-admin-panel-background: #f6f6f6;

// Error Modal
$color-error-modal-background: #424242;

// Markdown
$color-markdown-table-header-background: #616161;

@function color-transparent-white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@function color-transparent-black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}
