$color-primary: #e91e63;
$color-white: #fff;
$color-modal-background: #f5f5f5;
$color-dark-gray: #343434;
$color-light-gray: #dedede;
$color-highlight: lightblue;
$color-scrollbar-track: #cccccc;
$color-divider: #dbdbdb;
$color-time: #999999;
$color-toast-background: $color-dark-gray;
$color-toast-text: $color-light-gray;
$color-table-heading-background: $color-light-gray;

@function color-transparent-white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@function color-transparent-black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}
