@import './color.scss';

@mixin scroll-bar {
  scroll-padding-right: 10px;
  
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $color-light-gray-0;
    @include round-corner;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    @include round-corner;
  }
}
