@import './color';

$shadow-button: 0 1px 3px color-transparent-black(0.12),
  0 1px 2px color-transparent-black(0.12);
$shadow-card: 0 10px 20px color-transparent-black(0.19),
  0 6px 6px color-transparent-black(0.23);
$shadow-autocomplete-box: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
